# k - Nearest Neighbours
- k ---> Number of nearest Neighbour points which are voting for the new test data's class.

In [19]:
import pandas as pd
df = pd.read_csv('sizes.csv')
df

    Height  Weight Size
0      158      58    M
1      158      59    M
2      158      63    M
3      160      59    M
4      160      60    M
5      160      60    M
6      163      61    M
7      160      64    L
8      163      64    L
9      165      61    L
10     165      62    L
11     165      65    L
12     168      62    L
13     168      63    L
14     168      66    L
15     170      63    L
16     170      64    L
17     170      68    L

In [36]:
x = df.drop('Size',axis=1)
y = df['Size']

In [46]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(y)

In [58]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [62]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)

In [63]:
from sklearn.metrics import accuracy_score
print('Accuracy : ',accuracy_score(y_test,y_pred))

Accuracy :  1.0

In [64]:
knn.predict([[161,61]])

array([1], dtype=int64)