- Use the given dataset of LoanPrediction to predicts if a loan will get approved or not.

- Dataset- The data has 615 rows and 13 columns.

- Dataset Description- Loan_ID - Unique Loan ID,Gender - Male/ Female,Married- Applicant married (Y/N),Dependents - Number of dependents,Education - Applicant Education (Graduate/ Under Graduate)

		     Self_Employed - Self employed (Y/N),ApplicantIncome - Applicant income,CoapplicantIncome - Coapplicant income,LoanAmount - Loan amount in thousands

		     Loan_Amount_Term - Term of loan in months,Credit_History - credit history meets guidelines,Property_Area - Urban/ Semi Urban/ Rural

		     Loan_Status - Loan approved (Y/N)

- 1)Find the count of missing values in train dataset(train.csv)?

- 2)Combine both the test and train datasets.

- 3)Convert Gender,Married,Dependents,Education,Self_Employed,Property_Area into numeric form depending on column?

- 4)Also show the count for each column mentioned above after converting into numeric form?

- 5)Fill the missing values in Married,Gender,Self_Employed with randint, LoanAmount and Dependents with median,Loan_Amount_Term with mean ?

- 6)Finally apply any classification Model and calculate Accuracy ?

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

### 1)Find the count of missing values in train dataset(train.csv)?

In [3]:
train_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

### 2)Combine both the test and train datasets.

In [4]:
total_data = train_data.append(test_data)
total_data.head()

C:\Users\aditya\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No

In [5]:
total_data.shape

(981, 13)

### 3)Convert Gender,Married,Dependents,Education,Self_Employed,Property_Area into numeric form depending on column?

In [6]:
data = pd.get_dummies(total_data,columns = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area'])

In [7]:
data.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'Credit_History', 'LoanAmount',
       'Loan_Amount_Term', 'Loan_ID', 'Loan_Status', 'Gender_Female',
       'Gender_Male', 'Married_No', 'Married_Yes', 'Dependents_0',
       'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

### 4)Also show the count for each column mentioned above after converting into numeric form?

In [9]:
columns = ['Gender_Female','Gender_Male',
           'Married_No','Married_Yes',
           'Dependents_0','Dependents_1','Dependents_2','Dependents_3+',
           'Education_Graduate','Education_Not Graduate',
           'Self_Employed_No','Self_Employed_Yes',
           'Property_Area_Rural','Property_Area_Semiurban','Property_Area_Urban']
for column in data[columns]:
    print('{} : {}'.format(column,data[column].sum()))

Gender_Female : 182
Gender_Male : 775
Married_No : 347
Married_Yes : 631
Dependents_0 : 545
Dependents_1 : 160
Dependents_2 : 160
Dependents_3+ : 91
Education_Graduate : 763
Education_Not Graduate : 218
Self_Employed_No : 807
Self_Employed_Yes : 119
Property_Area_Rural : 290
Property_Area_Semiurban : 349
Property_Area_Urban : 342

### 5)Fill the missing values in Married,Gender,Self_Employed with randint, LoanAmount and Dependents with median,Loan_Amount_Term with mean ?

In [74]:
c1 = ['Married','Gender','Self_Employed']
for i in total_data[c1]:
    total_data[i].fillna(np.random.randint(0,2),inplace=True)
total_data['Dependents'].replace('3+',3,inplace=True)
c2 = ['LoanAmount','Dependents']
for i in total_data[c2]:
    total_data[i].fillna(total_data[i].notnull().mean(),inplace=True)

In [75]:
total_data.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History        79
Dependents             0
Education              0
Gender                 0
LoanAmount             0
Loan_Amount_Term      20
Loan_ID                0
Loan_Status          367
Married                0
Property_Area          0
Self_Employed          0
dtype: int64