#### Importing required libraries

In [1]:
import pandas as pd
import numpy as np

#### Reading the DataSet

In [53]:
data = pd.read_csv('Lifeexpectancy.csv')
data.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

#### Importing LinearRegression Model

In [54]:
from sklearn.linear_model import LinearRegression

#### Reading feature variable and target variable

In [55]:
x = data['fertility'].values.reshape(-1,1)
y = data['life'].values.reshape(-1,1)

In [56]:
lin_reg = LinearRegression()

In [57]:
lin_reg.fit(x,y) ## fitting the data into madel

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Checking the R squared score

In [58]:
score = lin_reg.score(x,y)
print("R2 SCORE : ",score)

R2 SCORE :  0.6192442167740035

##### Splitting the dataset into training and testing sets.

In [47]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)
x_train.shape

(97, 1)

In [48]:
x_test.shape

(42, 1)

In [49]:
print("Train Score: ",lin_reg.score(x_train,y_train))

Train Score:  0.5714280765836028

In [50]:
print("Test Score : ",lin_reg.score(x_test,y_test))

Test Score :  0.7156120819243891

#### Prediction

In [59]:
lin_reg.predict([[6.43]]) ## 6.43 ---> 58.3

array([[54.38307171]])