- Use the given dataset of LoanPrediction to predicts if a loan will get approved or not.

- Dataset- The data has 615 rows and 13 columns.

- Dataset Description- Loan_ID - Unique Loan ID,Gender - Male/ Female,Married- Applicant married (Y/N),Dependents - Number of dependents,Education - Applicant Education (Graduate/ Under Graduate)

		     Self_Employed - Self employed (Y/N),ApplicantIncome - Applicant income,CoapplicantIncome - Coapplicant income,LoanAmount - Loan amount in thousands

		     Loan_Amount_Term - Term of loan in months,Credit_History - credit history meets guidelines,Property_Area - Urban/ Semi Urban/ Rural

		     Loan_Status - Loan approved (Y/N)

- 1)Find the count of missing values in train dataset(train.csv)?

- 2)Combine both the test and train datasets.

- 3)Convert Gender,Married,Dependents,Education,Self_Employed,Property_Area into numeric form depending on column?

- 4)Also show the count for each column mentioned above after converting into numeric form?

- 5)Fill the missing values in Married,Gender,Self_Employed with randint, LoanAmount and Dependents with median,Loan_Amount_Term with mean ?

- 6)Finally apply any classification Model and calculate Accuracy ?

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

### 1)Find the count of missing values in train dataset(train.csv)?

In [3]:
train_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

### 2)Combine both the test and train datasets.

In [4]:
total_data = train_data.append(test_data)
total_data.head()

C:\Users\aditya\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No

In [5]:
total_data.shape

(981, 13)

### 3)Convert Gender,Married,Dependents,Education,Self_Employed,Property_Area into numeric form depending on column?

In [6]:
data = pd.get_dummies(total_data,columns = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area'])

In [7]:
data.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'Credit_History', 'LoanAmount',
       'Loan_Amount_Term', 'Loan_ID', 'Loan_Status', 'Gender_Female',
       'Gender_Male', 'Married_No', 'Married_Yes', 'Dependents_0',
       'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

### 4)Also show the count for each column mentioned above after converting into numeric form?

In [9]:
columns = ['Gender_Female','Gender_Male',
           'Married_No','Married_Yes',
           'Dependents_0','Dependents_1','Dependents_2','Dependents_3+',
           'Education_Graduate','Education_Not Graduate',
           'Self_Employed_No','Self_Employed_Yes',
           'Property_Area_Rural','Property_Area_Semiurban','Property_Area_Urban']
for column in data[columns]:
    print('{} : {}'.format(column,data[column].sum()))

Gender_Female : 182
Gender_Male : 775
Married_No : 347
Married_Yes : 631
Dependents_0 : 545
Dependents_1 : 160
Dependents_2 : 160
Dependents_3+ : 91
Education_Graduate : 763
Education_Not Graduate : 218
Self_Employed_No : 807
Self_Employed_Yes : 119
Property_Area_Rural : 290
Property_Area_Semiurban : 349
Property_Area_Urban : 342

### 5)Fill the missing values in Married,Gender,Self_Employed with randint, LoanAmount and Dependents with median,Loan_Amount_Term with mean ?

In [74]:
c1 = ['Married','Gender','Self_Employed']
for i in total_data[c1]:
    total_data[i].fillna(np.random.randint(0,2),inplace=True)
total_data['Dependents'].replace('3+',3,inplace=True)
c2 = ['LoanAmount','Dependents']
for i in total_data[c2]:
    total_data[i].fillna(total_data[i].notnull().mean(),inplace=True)

In [75]:
total_data.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History        79
Dependents             0
Education              0
Gender                 0
LoanAmount             0
Loan_Amount_Term      20
Loan_ID                0
Loan_Status          367
Married                0
Property_Area          0
Self_Employed          0
dtype: int64

### 6)Finally apply any classification Model and calculate Accuracy ?

In [76]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [98]:
x = total_data[['ApplicantIncome','CoapplicantIncome','Credit_History','Dependents','LoanAmount','Loan_Amount_Term']]
y = total_data['Loan_Status']

In [100]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=1)

In [102]:
x_train

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,LoanAmount,Loan_Amount_Term
484,8333,0.0,1.0,2,246.00000,360.0
107,7333,0.0,1.0,0,120.00000,360.0
202,3992,0.0,1.0,3,142.51153,180.0
49,4000,2275.0,1.0,0,144.00000,360.0
175,4912,4614.0,1.0,2,160.00000,360.0
347,3083,2168.0,1.0,2,126.00000,360.0
262,3417,738.0,NaN,0,100.00000,360.0
605,2400,3800.0,1.0,0,142.51153,180.0
121,4166,0.0,1.0,0,44.00000,360.0
102,3901,0.0,1.0,1,116.00000,360.0
187,2383,2138.0,NaN,0,58.00000,360.0
16,3596,0.0,NaN,1,100.00000,240.0
21,2083,0.0,1.0,3,28.00000,180.0
50,2419,1707.0,1.0,1,124.00000,360.0
530,1025,5500.0,NaN,0,216.00000,360.0
298,5000,2541.0,1.0,0,151.00000,480.0
312,2066,2108.0,1.0,0.974516,104.00000,84.0
106,11417,1126.0,1.0,2,225.00000,360.0
338,2360,3355.0,1.0,1,87.00000,240.0
23,3365,1917.0,0.0,2,112.00000,360.0
201,2855,542.0,1.0,3,90.00000,360.0
69,4300,0.0,0.0,0,136.00000,360.0
546,3358,0.0,1.0,0,80.00000,36.0
429,2717,0.0,1.0,0,60.00000,180.0
301,2875,1750.0,1.0,0.974516,105.00000,360.0
309,3708,4700.0,1.0,0,132.00000,360.0
17,3786,333.0,1.0,3,126.00000,360.0
331,2935,0.0,1.0,0,98.00000,360.0
364,6822,0.0,1.0,0,141.00000,360.0
242,3510,828.0,1.0,0,105.00000,360.0
...,...,...,...,...,...,...
562,5923,2054.0,1.0,0,211.00000,360.0
398,3902,1666.0,1.0,0,109.00000,360.0
311,2366,5272.0,0.0,3,153.00000,360.0
54,5293,0.0,1.0,0,92.00000,360.0
490,2699,2785.0,NaN,0,96.00000,360.0
252,2583,2167.0,1.0,0,104.00000,360.0
293,2241,2000.0,0.0,0,88.00000,360.0
468,210,2917.0,1.0,2,98.00000,360.0
300,7500,0.0,1.0,1,75.00000,360.0
357,3875,0.0,1.0,1,67.00000,360.0
254,16250,0.0,0.0,0,192.00000,360.0
276,3993,3274.0,1.0,0,207.00000,360.0
178,3750,0.0,1.0,1,116.00000,360.0
281,3927,800.0,1.0,0,112.00000,360.0
390,9167,0.0,1.0,3,185.00000,360.0
508,2479,3013.0,1.0,0,188.00000,360.0
135,4258,0.0,1.0,0,125.00000,360.0
583,1880,0.0,NaN,1,61.00000,360.0
129,6080,2569.0,NaN,0,182.00000,360.0
144,11757,0.0,1.0,2,187.00000,180.0
346,3391,1966.0,0.0,0,133.00000,360.0
233,7600,0.0,1.0,1,92.00000,360.0
31,6250,820.0,1.0,2,192.00000,360.0
101,2262,0.0,0.0,0,142.51153,480.0
291,3166,2833.0,1.0,2,145.00000,360.0
153,2463,2360.0,0.0,1,117.00000,360.0
72,3500,0.0,1.0,0,81.00000,300.0
294,1792,2565.0,1.0,1,128.00000,360.0
235,5500,1260.0,1.0,1,170.00000,360.0
37,3667,1459.0,1.0,0,144.00000,360.0