In [1]:
import pandas as pd
obj = pd.Series([1,2,-4,3])
obj

0    1
1    2
2   -4
3    3
dtype: int64

In [2]:
obj.values

array([ 1,  2, -4,  3], dtype=int64)

In [3]:
obj.index=['a','b','c','d']
obj

a    1
b    2
c   -4
d    3
dtype: int64

In [4]:
pd.Series([0,1,2,1],index=['w','x','y','z'])

w    0
x    1
y    2
z    1
dtype: int64

In [5]:
obj['c']

-4

In [6]:
obj[['c','a','d']]

c   -4
a    1
d    3
dtype: int64

In [7]:
obj['a']=33
obj

a    33
b     2
c    -4
d     3
dtype: int64

In [8]:
obj[obj>0]

a    33
b     2
d     3
dtype: int64

In [9]:
obj*2

a    66
b     4
c    -8
d     6
dtype: int64

In [10]:
import numpy as np
np.exp(obj)

a    2.146436e+14
b    7.389056e+00
c    1.831564e-02
d    2.008554e+01
dtype: float64

In [11]:
'b' in obj

True

In [12]:
'z' in obj

False

In [19]:
sdata = {'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [20]:
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata,index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [21]:
obj

a    33
b     2
c    -4
d     3
dtype: int64

In [26]:
obj.append(pd.Series([11,22,44],index=['x','y','z']))

a    33
b     2
c    -4
d     3
x    11
y    22
z    44
dtype: int64